.PageBottom {
  :global {
    .myinfo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .qrImg {
        width: 170px;
      }
      .infoItem {
        margin: 10px auto;
        a {
          color: #567;
        }
      }
    }
    .number{
      font-size: 14px;
      text-align: center;
      a {
          color: #567;
          text-decoration: none;
      
          &:hover {
            text-decoration: none;
          }
      
          &:active {
            text-decoration: none;
          }
      
          &:checked {
            text-decoration: none;
          }
        }
    }
  }
}
