.content-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left-box {
    flex: 1;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    border: 1px solid red;
  }
  .RightComment {
    width: 24%;
    border: 1px solid blue;
  }
}
