html,
body {
  background-color: #f7f7d7;
  // background-color: rgba(222, 211, 140);
  // background-color: rgba(242, 235, 217);
  // background-color: rgba(204, 232, 207);
  font-family: Georgia, serif;
  .wrapper {
    padding: 20px 1em;
    margin: 0 auto;
    width: 85%;
    min-width: 780px;
    max-width: 1260px;
    min-height: 100vh;
    .ckeditor-string {
      img {
        max-width: 100%;
      }
      font-size: 16px !important;
    }
  }
}
